<div class="bg">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <div class=" header">
        <img class="logo" src="assets/img/image1.png" alt="logo"
            style="height: 250px; padding-left: 20%; position: absolute;">
    </div>
    <div>
        <img class="logo" src="assets/img/image2.png" alt="logo"
            style="height: 250px; position: absolute; top: 50%; left: -8%; min-width: 40%; min-height: 50%;">
    </div>
    <div>
        <img class="logo" src="assets/img/image3.png" alt="logo"
            style="position: absolute; min-width: 30%; min-height: 105%; top: -5% ;left: -5% ;z-index: -1;">
    </div>
    <div>
        <img class="logo" src="assets/img/image4.png" alt="logo"
            style="position: absolute;min-width: 1%;min-height: 1%; top: 79% ;left: 72% ;">
    </div>
    <div class="text1">
        <p>ระบบบริหารภายใน กลุ่มพัฒนาและตรวจสอบทางเทคนิค</p>
    </div>
    <div class="text2">
        <p>กรมสรรพสามิต</p>
    </div>
    <div>
        <div>
            <div>
                <div>
                </div>
                <div>
                    <div class="login-form">
                        <div class="sign-in-htm">
                            <div class="group">
                                <div class="input">
                                    <i class="fa fa-user"></i>
                                    <input type="text" class ="text" placeholder='UserName'>
                                </div>
                            </div>
                            <div class="group">
                                    <div class="input"> 
                                        <i class="fa fa-lock"></i>
                                        <input type="password" class ="text" placeholder='Password'>
                                    </div>        
                            </div>
                            <div class="group">
                                <button type="button" class="button">Sign in</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>