body {
    margin: 0;
    color: #edf3ff;
    background: #b12828;
    /* background:url(https://hdqwalls.com/download/material-design-4k-2048x1152.jpg) fixed; */
    background-size: auto;
}

.bg {
    /* background: url(././../../../../../assets/img/25928.jpg) no-repeat center center fixed; */
    /* background-color: #fff; */
    background-color: white(241,245,248);
    background-size: auto;
    position: absolute;
    top: 0;
    left: 0;
    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    z-index: -999;
}


.login-form .group {
    margin-bottom: 15px;
    margin-top: 30px;
}

.login-form .group .label,
.login-form .group .input{
    /* position: absolute; */
    position: relative;
    width: 20%;
    color:black;
    display: block;
    left: 70%;
    bottom: 250px;
  
}

.login-form .group .button {
    position: relative;
    border: none;
    box-shadow: white;
    left: 86%;
    width: 6%;
    padding: 15px 20px;
    border-radius: 15px;
    color: white;
    background-color: coral;
    bottom: 250px;
    
}
.login-form .group .input{
    border: none;
    padding: 15px 20px;
    border-radius: 15px;
    background:whitesmoke;
   
}

.header{
    position: relative;
    margin-top: 130px;
    margin-right: 500px;
}

.text{
    position: relative;
    left: 5%;
    width: 80%;
    height: 50%;
    border: none;
    padding: 5px 5px;
    border-radius: 15px;
    background:whitesmoke;
}

.text1{
    margin-left: 60px;
    margin-top: 425px;
    color: white;
    font-size: 22px;
}

.text2{
    margin-left: 15%;
    margin-top: 20px;
    color: white;
    font-size: 24px;
}

